.stepper {
		counter-reset: step;
}

.stepper li {
    list-style-type: none;
    float: left;
    position: relative;
    text-align: center;
}

.stepper li:before {
    content: counter(step);
    counter-increment: step;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}

.stepper li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ddd;
    top: 25px;
    left: -50%;
    z-index: -1;
}
.stepper li:first-child:after {
    content: none;
}
.stepper li.active:before {
    border-color: green;
    background-color: green;
    color: white;
    font-size: large;
}
.stepper li.active + li:after {
    background-color: green;
}